<div class="card">
    <div class="card-header">
        <h3 class="card-title">Lista de Emisores</h3>
        <p class="card-subtitle">Contribuyentes habilitados para emisión electrónica</p>
    </div>

    <div class="table-container">
        <table class="table-flat">
            <thead>
            <tr>
                <th>Contribuyente</th>
                <th>Datos del Timbrado</th>
                <th>Contacto</th>
                <th class="text-right">Acciones</th>
            </tr>
            </thead>

            <tbody id="tabla-datos">
            <tr th:each="e : ${emisores}">
                <td>
                    <div class="text-stack">
                        <div class="text-primary" th:text="${e.razonSocial}"></div>
                        <div class="text-secondary">
                            <span class="text-primary-sm" th:text="${e.ruc}"></span>
                            <span class="text-muted text-italic"
                                  th:if="${e.nombreFantasia != null && !e.nombreFantasia.empty}"
                                  th:text="${'(' + e.nombreFantasia + ')'}">
                                </span>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="text-stack">
                        <div class="text-primary-sm" th:text="${e.numeroTimbrado}"></div>
                        <div class="text-secondary">
                            <span class="text-muted">Vence:</span>
                            <span class="text-medium" th:text="${e.inicioVigenciaTimbrado}"></span>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="text-stack">
                        <div class="text-medium text-main" th:text="${e.email}"></div>
                        <div class="text-secondary text-muted" th:text="${e.telefono}"></div>
                    </div>
                </td>

                <td class="text-right">
                    <div class="flex justify-end gap-4">
                        <button class="btn-flat-info"
                                th:attr="hx-get=@{/app/emisores/view/details/{id}(id=${e.id})}"
                                hx-target="#main-content">
                            Ver
                        </button>

                        <button class="btn-flat-action"
                                th:attr="hx-get=@{/app/emisores/view/edit/{id}(id=${e.id})}"
                                hx-target="#main-content">
                            Editar
                        </button>

                        <button class="btn-flat-danger"
                                th:attr="hx-delete=@{/app/emisores/view/delete/{id}(id=${e.id})}"
                                hx-confirm="¿Estás seguro de que deseas eliminar este emisor? Esta acción no se puede deshacer."
                                hx-target="#main-content"
                                hx-swap="innerHTML">
                            Eliminar
                        </button>
                    </div>
                </td>




            </tr>
            </tbody>
        </table>
    </div>
</div>